html {
  @include u-family(sans);
  font-size: $theme-root-font-size;
}

body {
  @include u-size(sans, sm);
}

#{$top-level-component}prose-p {
  line-height: $base-line-height;
  margin-bottom: 1em;
  margin-top: 1em;
}

#{$top-level-component}prose-h1,
#{$top-level-component}prose-h2,
#{$top-level-component}prose-h3,
#{$top-level-component}prose-h4,
#{$top-level-component}prose-h5 {
  clear: both;
  font-family: $font-serif;
  line-height: $heading-line-height;
  margin-bottom: .5em;
  margin-top: 1.5em;
}

#{$top-level-component}prose-h6 {
  font-family: $font-sans;
}

#{$top-level-component}prose-h1 {
  @include h1();
}

#{$top-level-component}prose-h2 {
  @include h2();
}

#{$top-level-component}prose-h3 {
  @include h3();
}

#{$top-level-component}prose-h4 {
  @include h4();
}

#{$top-level-component}prose-h5 {
  @include h5();
}

#{$top-level-component}prose-h6 {
  @include h6();
}

#{$top-level-component}prose-a {
  color: $color-primary;
  text-decoration: underline;

  &:hover,
  &:active {
    color: $color-primary-darker;
  }

  &:focus {
    @include focus;
  }

  &:visited {
    color: $color-visited;
  }
}

@mixin external-link($external-link, $external-link-hover) {
  &::after {
    background: url('#{$theme-image-path}/#{$external-link}.png') no-repeat 0 0;
    background: url('#{$theme-image-path}/#{$external-link}.svg') no-repeat 0 0;
    background-size: 100%;
    content: '';
    display: inline-block;
    height: 0.65em;
    margin-bottom: -1px;
    margin-left: 4px;
    width: 0.65em;
  }

  &:hover::after {
    background-image: url('#{$theme-image-path}/#{$external-link-hover}.png');
    background-image: url('#{$theme-image-path}/#{$external-link-hover}.svg');
  }
}

#{$top-level-component}content,
#{$top-level-component}prose {
  p { @extend #{$top-level-component}prose-p; }
  h1 { @extend #{$top-level-component}prose-h1; }
  h2 { @extend #{$top-level-component}prose-h2; }
  h3 { @extend #{$top-level-component}prose-h3; }
  h4 { @extend #{$top-level-component}prose-h4; }
  h5 { @extend #{$top-level-component}prose-h5; }
  h6 { @extend #{$top-level-component}prose-h6; }
  a { @extend #{$top-level-component}prose-a; }
}

// External link consider "effortless style approach":
// [href^="http:"]:not([href*="my-domain.com"])
// [href^="https:"]:not([href*="my-domain.com"])

#{$top-level-component}external_link {
  @include external-link(external-link, external-link-hover);
}

#{$top-level-component}external_link-alt {
  @include external-link(external-link-alt, external-link-alt-hover);
}

// Remove user agent styles

cite,
var,
address,
dfn {
  font-style: normal;
}

// Custom typography

#{$top-level-component}content,
#{$top-level-component}prose {
  p,
  ul:not(.usa-accordion):not(.usa-accordion-bordered),
  ol:not(.usa-accordion):not(.usa-accordion-bordered) {
    max-width: $text-max-width;
  }
}

#{$top-level-component}content-list {
  max-width: $text-max-width;
}

#{$top-level-component}sans {
  p,
  a,
  li,
  span {
    font-family: $font-sans;
  }

  a {
    border-bottom: none;
    font-weight: $font-bold;
  }
}

#{$top-level-component}serif {
  p,
  a,
  li,
  span {
    font-family: $font-serif;
  }
}

#{$top-level-component}isplay {
  @include h3();
  margin-bottom: 0;

  @include media($small-screen) {
    @include h1();
  }

  @include media($medium-screen) {
    @include title();
  }
}

#{$top-level-component}font-lead {
  font-family: $font-serif;
  font-size: $lead-font-size;
  font-weight: $font-normal;
  line-height: $lead-line-height;
  max-width: $lead-max-width;
}

#{$top-level-component}background-dark {
  background-color: $color-gray-dark;

  p,
  span {
    color: $color-white;
  }

  a {
    color: $color-gray-lighter;

    &:hover {
      color: $color-white;
    }
  }
}

#{$top-level-component}text-small {
  font-size: $h6-font-size;
  margin-top: 0;
}

// Removes top margin from first child and bottom margin from last child on
// elements when they are within those layout elements.
#{$top-level-component}section,
#{$top-level-component}grid,
#{$top-level-component}grid-full {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

#{$top-level-component}width-one-whole,
#{$top-level-component}width-one-half,
#{$top-level-component}width-one-third,
#{$top-level-component}width-two-thirds,
#{$top-level-component}width-one-fourth,
#{$top-level-component}width-three-fourths,
#{$top-level-component}width-one-sixth,
#{$top-level-component}width-five-sixths,
#{$top-level-component}width-one-twelfth {
  &:first-child {
    > :first-child {
      margin-top: 0;
    }
  }

  > :first-child {
    @include media($medium-screen) {
      margin-top: 0;
    }
  }

  &:last-child {
    > :last-child {
      margin-bottom: 0;
    }
  }

  > :last-child {
    @include media($medium-screen) {
      margin-bottom: 0;
    }
  }
}
